.toggle .header {
    display: block;
    clear: both;
    background-color: #785EF0;
    color: #f9f9f9;
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.toggle .header:before {
    float: left;
    content: "▶ ";
    font-size: 20px;

}

.toggle .header.open:before {
    float: left;
    content: "▼ ";
    font-size: 20px;
}

.toggle{
  background: #FBFBFB;
}

article.pytorch-article .method dt {
    border-left: none;
    border-top: 3px solid var(--purple);
    padding-left: 4em;
    padding-right: 100px;
}

article .method dt {
    background: #f3f4f7;
    word-wrap: break-word;
}

article .method dd {
    padding-left: 3em;
}

.wy-table-responsive {
    max-height: unset;
}