# This code is part of Qiskit.
#
# (C) Copyright IBM 2021.
#
# This code is licensed under the Apache License, Version 2.0. You may
# obtain a copy of this license in the LICENSE.txt file in the root directory
# of this source tree or at http://www.apache.org/licenses/LICENSE-2.0.
#
# Any modifications or derivative works of this code must retain this
# copyright notice, and modified files need to carry a notice indicating
# that they have been altered from the originals.

name: Nature Unit Tests

on:
  push:
    branches:
      - main
      - 'stable/**'
  pull_request:
    branches:
      - main
      - 'stable/**'
  schedule:
    # run every day at 1AM
    - cron: '0 1 * * *'

jobs:
  Checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: ./.github/actions/install-libraries
      - uses: ./.github/actions/install-main-dependencies
        if: ${{ !startsWith(github.ref, 'refs/heads/stable') && !startsWith(github.base_ref, 'stable/') }}
      - uses: ./.github/actions/install-nature
      - name: Install Dependencies
        run: |
          pip install jupyter sphinx nbsphinx sphinx_rtd_theme 'matplotlib<3.3.0' qiskit-terra[visualization]
          sudo apt-get install -y pandoc graphviz
          sudo apt-get -y install python3-enchant
          sudo apt-get -y install hunspell-en-us
          pip install pyenchant
        shell: bash
      - run:  pip check
        if: ${{ !cancelled() }}
        shell: bash
      - run:  make copyright
        if: ${{ !cancelled() }}
        shell: bash
      - run:  make spell
        if: ${{ !cancelled() }}
        shell: bash
      - run:  make style
        if: ${{ !cancelled() }}
        shell: bash
      - name: Run make html
        run:  |
          make html SPHINXOPTS=-W
          cd docs/_build/html
          mkdir artifacts
          tar -zcvf artifacts/documentation.tar.gz --exclude=./artifacts .
        if: ${{ !cancelled() }}
        shell: bash
      - name: Run upload documentation
        uses: actions/upload-artifact@v2
        with:
          name: documentation
          path: docs/_build/html/artifacts/documentation.tar.gz
        if: ${{ !cancelled() }}
      - run:  make doctest
        if: ${{ !cancelled() }}
        shell: bash
  Lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: ./.github/actions/install-libraries
      - uses: ./.github/actions/install-main-dependencies
        if: ${{ !startsWith(github.ref, 'refs/heads/stable') && !startsWith(github.base_ref, 'stable/') }}
      - uses: ./.github/actions/install-nature
      - run: make lint
        if: ${{ !cancelled() }}
        shell: bash
      - run: make mypy
        if: ${{ !cancelled() }}
        shell: bash
      - name: Run make lint latest version
        run: |
          pip install -U pylint
          make lint
        if: ${{ !cancelled() }}
        shell: bash
  Nature:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: ./.github/actions/install-psi4
        with:
          python-version: ${{ matrix.python-version }}
        if: ${{ matrix.python-version < 3.8 }}
      - uses: ./.github/actions/install-libraries
      - uses: ./.github/actions/install-main-dependencies
        if: ${{ !startsWith(github.ref, 'refs/heads/stable') && !startsWith(github.base_ref, 'stable/') }}
      - uses: ./.github/actions/install-nature
      - name: Install Dependencies
        run: |
          if [ -f "$HOME/miniconda/etc/profile.d/conda.sh" ]; then
            source "$HOME/miniconda/etc/profile.d/conda.sh"
            conda activate
          fi
          pip install -U Cython
          pip install git+https://github.com/rpmuller/pyquante2
        if: ${{ matrix.python-version < 3.9 }}
        shell: bash
      - name: Nature Unit Tests under Python ${{ matrix.python-version }}
        uses: ./.github/actions/run-tests
        with:
          event-name: ${{ github.event_name }}
          run-slow: ${{ contains(github.event.pull_request.labels.*.name, 'run_slow') }}
          python-version: ${{ matrix.python-version }}
      - name: Deprecation Messages
        run: |
          mkdir ./n${{ matrix.python-version }}
          python tools/extract_deprecation.py -file out.txt -output ./n${{ matrix.python-version }}/nat.dep
        shell: bash
      - name: Coverage combine
        run: |
          if [ -f "$HOME/miniconda/etc/profile.d/conda.sh" ]; then
            source "$HOME/miniconda/etc/profile.d/conda.sh"
            conda activate
          fi
          coverage3 combine
          mv .coverage ./n${{ matrix.python-version }}/nat.dat
        if: ${{ matrix.python-version == 3.7 }}
        shell: bash
      - uses: actions/upload-artifact@v2
        with:
          name: nature${{ matrix.python-version }}
          path: ./n${{ matrix.python-version }}/*
  Tutorials:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: ./.github/actions/install-libraries
      - uses: ./.github/actions/install-main-dependencies
        if: ${{ !startsWith(github.ref, 'refs/heads/stable') && !startsWith(github.base_ref, 'stable/') }}
      - uses: ./.github/actions/install-nature
      - name: Install Dependencies
        run: |
          pip install jupyter sphinx nbsphinx sphinx_rtd_theme 'matplotlib<3.3.0' qiskit-terra[visualization]
          sudo apt-get install -y pandoc graphviz
        shell: bash
      - name: Run Qiskit Nature Tutorials
        env:
          QISKIT_PARALLEL: False
          QISKIT_DOCS_BUILD_TUTORIALS: 'always'
        run: |
          make html SPHINXOPTS=-W
          cd docs/_build/html
          mkdir artifacts
          tar -zcvf artifacts/tutorials.tar.gz --exclude=./artifacts .
        shell: bash
      - name: Run upload tutorials
        uses: actions/upload-artifact@v2
        with:
          name: tutorials${{ matrix.python-version }}
          path: docs/_build/html/artifacts/tutorials.tar.gz
  Deprecation_Messages_and_Coverage:
    needs: [Checks, Lint, Nature, Tutorials]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@v2
        with:
          name: nature3.6
          path: /tmp/n36
      - uses: actions/download-artifact@v2
        with:
          name: nature3.7
          path: /tmp/n37
      - uses: actions/download-artifact@v2
        with:
          name: nature3.8
          path: /tmp/n38
      - uses: actions/download-artifact@v2
        with:
          name: nature3.9
          path: /tmp/n39
      - name: Install Dependencies
        run: pip install -U coverage coveralls diff-cover
        shell: bash
      - name: Combined Deprecation Messages
        run: |
          sort -f -u /tmp/n36/nat.dep /tmp/n37/nat.dep /tmp/n38/nat.dep /tmp/n39/nat.dep || true
        shell: bash
      - name: Coverage combine
        run: coverage3 combine /tmp/n37/nat.dat
        shell: bash
      - name: Upload to Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
        shell: bash
